/*style the box*/  
.gm-style .gm-style-iw {
    background-color: #3C61AD !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    /*height: 100% !important;*/
    /*min-height: 120px !important;*/
    /*padding-top: 10px;*/
    display: block !important;
}    

/*style the p tag*/
.gm-style .gm-style-iw #google-popup p{
    padding: 10px;
}
 

/*style the arrow*/
.gm-style div div div div div div div div {
    background-color: red !important;
    margin: 0;
    padding: 0;
    top: 0;
    color: white;
    font-size: 16px;
}

/*style the link*/
.gm-style div div div div div div div div a {
    color: #f1f1f1;
    font-weight: bold;
}